@model IList<SurveyResultsModel>
@{
    ViewData["Title"] = "Results";
}

<h2>Current Favorite National Parks</h2>
<div class="container-fluid" id="results">
    <ul>
        @foreach (SurveyResultsModel surveyResults in Model)
        {
            <li>
                <h2>@surveyResults.ParkName </h2>
                <figure>
                    <img class="img-responsive" src="~/images/parks/@(surveyResults.ParkCode).jpg" />
                    <figcaption>
                        Survey Votes:@surveyResults.ReviewCount
                    </figcaption>
                </figure>

            </li>

        }
    </ul>
</div>